<ul id="header">
  <li class="logo"><a href="{{ path('user_homepage') }}"><img src="{{ asset('images/logo.png') }}"></a></li>
  <li class="mainMenu m5">
    <a class="a" href="{{ path('user_logout') }}" onclick="if(confirm(&#39;确定安全退出吗?&#39;)) return true; else return false;" target="_top">退出系统</a>
  </li>
  <li class="mainXian"></li>
  {% set routes = app.request.get('_route')|split('_') %}
  <li class="mainMenu m4">
    <a class="a {{ routes[1] == 'contact' ? 'hover' : '' }}" href="{{ path('user_contact') }}">联系我们</a>
  </li>
  <li class="mainMenu m3">
    <a class="a {{ routes[1] == 'news' ? 'hover' : '' }}" href="{{ path('user_news')}}">新闻公告</a>
  </li>
  <li class="mainMenu m2">
    <a class="a {{ routes[1] == 'about' ? 'hover' : '' }}" href="{{ path('user_about_us') }}">关于我们</a>
  </li>
  <li class="mainMenu m1">
    <a class="a {{ routes[1] == 'homepage' ? 'hover' : '' }}" href="{{ path('user_homepage') }}">首页</a>
  </li>
  <li class="clear"></li>
</ul>
