{% extends 'user/base.html.twig' %}

{% block value %}
<div id="Subject">
  <ul>
    <li class="type_text">修改密码</li>
    <li class="bg_line">{{ error }}</li>
  </ul>
  <div class="content" id="formStyle">
    {{ form_start(form)}}
    <ul>
      <li class="tn"><span>*</span>密码级别：</li>
      <li>
        {{ form_widget(form.type)}}
      </li>
      <li class="clear"></li>
    </ul>
    <ul>
        <li class="tn"><span>*</span>旧密码：</li>
        <li class="input">{{ form_widget(form.oldPassword) }}</li>
        <li class="clear"></li>
    </ul>
      <ul>
        <li class="tn"><span>*</span>新密码：</li>
        <li class="input">{{ form_widget(form.newPassword.first) }}</li>
        <li class="clear"></li>
      </ul>
      <ul>
        <li class="tn"><span>*</span>确认新密码：</li>
        <li class="input">{{ form_widget(form.newPassword.second) }}</li>
        <li class="clear"></li>
      </ul>
      <ul>
        <li class="button">
          <input name="submit"  type="submit" class="button_text" value="确 认" alt="确认" />
          <input name="button"  type="reset" class="button_text" value="重 置" alt="取消" />
        </li>
      </ul>
      {{ form_end(form)}}
  </div>
</div>
{% endblock %}
