<div class="nav" id="MenuBoard">
  <div id="basic-accordian" >
    <div id="test7-header" class="accordion_headings" >
      <a class="nav-left" href="{{ path('admin_cashier') }}"><img src="{{ asset('images/nav8.png')}}"><span>当期出纳</span></a>
      <a class="nav-left" href="{{ path('admin_bonus') }}"><img src="{{ asset('images/nav8.png')}}"><span>奖金查询</span></a>
      <a class="nav-left" href="{{ path('admin_cashmove') }}"><img src="{{ asset('images/nav8.png')}}"><span>货币流向</span></a>
      <a class="nav-left" href="{{ path('admin_recharge') }}"><img src="{{ asset('images/nav8.png')}}"><span>充值管理</span></a>
      <a class="nav-left" href="{{ path('admin_level') }}"><img src="{{ asset('images/nav8.png')}}"><span>晋级管理</span></a>
      <a class="nav-left" href="{{ path('admin_declaration') }}"><img src="{{ asset('images/nav8.png')}}"><span>申请报单管理</span></a>
      <a class="nav-left" href="{{ path('admin_level_application') }}"><img src="{{ asset('images/nav8.png')}}"><span>申请晋级管理</span></a>
      <a class="nav-left" href="{{ path('admin_transaction') }}"><img src="{{ asset('images/nav8.png')}}"><span>交易管理</span></a>
      <a class="nav-left" href="{{ path('admin_match') }}"><img src="{{ asset('images/nav8.png')}}"><span>手动匹配</span></a>
      <a class="nav-left" href="{{ path('admin_user') }}"><img src="{{ asset('images/nav8.png')}}"><span>会员管理</span></a>
      <a class="nav-left" href="{{ path('admin_news') }}"><img src="{{ asset('images/nav8.png')}}"><span>新闻公告管理</span></a>
      <a class="nav-left" href="{{ path('admin_bak') }}"><img src="{{ asset('images/nav8.png')}}"><span>数据库备份</span></a>
      <a class="nav-left" href="{{ path('admin_param') }}"><img src="{{ asset('images/nav8.png')}}"><span>参数设置</span></a>
      <a class="nav-left" href="{{ path('admin_news') }}"><img src="{{ asset('images/nav8.png')}}"><span>清空数据</span></a>
      <a class="nav-left" href="{{ path('admin_news') }}"><img src="{{ asset('images/nav8.png')}}"><span>短信配置</span></a>
    </div>
  </div>
</div>
